<a href="https://colab.research.google.com/github/M-I-N1985/colab_alura/blob/main/13_contadores.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
s = pd.Series(list('fdasdasgfweasdaw'))
s

0     f
1     d
2     a
3     s
4     d
5     a
6     s
7     g
8     f
9     w
10    e
11    a
12    s
13    d
14    a
15    w
dtype: object

In [3]:
s.unique()

array(['f', 'd', 'a', 's', 'g', 'w', 'e'], dtype=object)

In [4]:
s.value_counts()

a    4
d    3
s    3
f    2
w    2
g    1
e    1
dtype: int64

In [7]:
dados = pd.read_csv('dados/aluguel.csv', sep = ';')

In [8]:
dados.Tipo.unique()

array(['Quitinete', 'Casa', 'Conjunto Comercial/Sala', 'Apartamento',
       'Casa de Condomínio', 'Prédio Inteiro', 'Flat', 'Loja/Salão',
       'Galpão/Depósito/Armazém', 'Casa Comercial', 'Casa de Vila',
       'Terreno Padrão', 'Box/Garagem', 'Loft',
       'Loja Shopping/ Ct Comercial', 'Chácara', 'Loteamento/Condomínio',
       'Sítio', 'Pousada/Chalé', 'Studio', 'Hotel', 'Indústria'],
      dtype=object)

In [9]:
dados.Tipo.value_counts()

Apartamento                    19532
Conjunto Comercial/Sala         6815
Loja/Salão                      1426
Casa de Condomínio               996
Casa                             967
Quitinete                        836
Galpão/Depósito/Armazém          623
Flat                             476
Prédio Inteiro                   301
Casa Comercial                   265
Casa de Vila                     249
Loja Shopping/ Ct Comercial      247
Box/Garagem                       82
Terreno Padrão                    70
Loft                              51
Sítio                             10
Loteamento/Condomínio              5
Studio                             4
Hotel                              2
Chácara                            1
Pousada/Chalé                      1
Indústria                          1
Name: Tipo, dtype: int64