<a href="https://colab.research.google.com/github/M-I-N1985/colab_alura/blob/main/18_panda_io.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Criando os nomes

In [1]:
# vamos no google e buscamos api nomes, então aparecerá o site do IBGE: https://servicodados.ibge.gov.br/api/v2/censos/nomes/ranking
# mudamos para a versão 1: https://servicodados.ibge.gov.br/api/v1/censos/nomes/ranking
# acrescentamos: ?qtd=20&sexo=f

In [2]:
import pandas as pd

In [3]:
nomes_f = pd.read_json("https://servicodados.ibge.gov.br/api/v1/censos/nomes/ranking?qtd=200&sexo=f")
nomes_f

          nome  regiao      freq  rank sexo
0        MARIA       0  11694738     1    F
1          ANA       0   3079729     2    F
2    FRANCISCA       0    721637     3    F
3      ANTONIA       0    588783     4    F
4      ADRIANA       0    565621     5    F
..         ...     ...       ...   ...  ...
195     ROSANE       0     82203   196    F
196    IVONETE       0     81878   197    F
197    LUCIANE       0     81230   198    F
198    ISADORA       0     81100   199    F
199      NILZA       0     80128   200    F

[200 rows x 5 columns]

In [4]:
nomes_m = pd.read_json("https://servicodados.ibge.gov.br/api/v1/censos/nomes/ranking?qtd=200&sexo=m")
nomes_m

          nome  regiao     freq  rank sexo
0         JOSE       0  5732508     1    M
1         JOAO       0  2971935     2    M
2      ANTONIO       0  2567494     3    M
3    FRANCISCO       0  1765197     4    M
4       CARLOS       0  1483121     5    M
..         ...     ...      ...   ...  ...
195     WALTER       0    67207   196    M
196    ARLINDO       0    66669   197    M
197    MICHAEL       0    65736   198    M
198     ALVARO       0    65444   199    M
199    GEOVANE       0    65435   200    M

[200 rows x 5 columns]

In [5]:
print('Quantidade de nomes: ' + str(len(nomes_f) + len(nomes_m)))

Quantidade de nomes: 400

In [6]:
frames = [nomes_f, nomes_m]

In [7]:
frames

[          nome  regiao      freq  rank sexo
 0        MARIA       0  11694738     1    F
 1          ANA       0   3079729     2    F
 2    FRANCISCA       0    721637     3    F
 3      ANTONIA       0    588783     4    F
 4      ADRIANA       0    565621     5    F
 ..         ...     ...       ...   ...  ...
 195     ROSANE       0     82203   196    F
 196    IVONETE       0     81878   197    F
 197    LUCIANE       0     81230   198    F
 198    ISADORA       0     81100   199    F
 199      NILZA       0     80128   200    F

 [200 rows x 5 columns],           nome  regiao     freq  rank sexo
 0         JOSE       0  5732508     1    M
 1         JOAO       0  2971935     2    M
 2      ANTONIO       0  2567494     3    M
 3    FRANCISCO       0  1765197     4    M
 4       CARLOS       0  1483121     5    M
 ..         ...     ...      ...   ...  ...
 195     WALTER       0    67207   196    M
 196    ARLINDO       0    66669   197    M
 197    MICHAEL       0    65736   198    M
 198     ALVARO       0    65444   199    M
 199    GEOVANE       0    65435   200    M

 [200 rows x 5 columns]]

In [8]:
nomes = pd.concat(frames)['nome'].to_frame()

In [9]:
# sample pega nomes aleatórios
nomes.sample(5)

        nome
19   MARIANA
189    DALVA
128  EDVALDO
75     MARLI
169   JOELMA

# Incluindo ID dos alunos

In [10]:
import numpy as np
np.random.seed(123)

In [11]:
total_alunos = len(nomes)
total_alunos

400

In [12]:
nomes['id_aluno'] = np.random.permutation(total_alunos) + 1

In [13]:
nomes.sample(5)

          nome  id_aluno
188    POLIANA       369
57      DAIANE       303
3    FRANCISCO       382
182    CHARLES        33
30    ANDERSON       111

In [14]:
dominios = ['@dominiodoemail.com.br', '@servicodoemail.com']
nomes['dominio'] = np.random.choice(dominios, total_alunos)

In [15]:
nomes.sample(5)

          nome  id_aluno                 dominio
84    SEVERINO        78  @dominiodoemail.com.br
0         JOSE       331     @servicodoemail.com
179       IAGO       340  @dominiodoemail.com.br
10      SANDRA       174  @dominiodoemail.com.br
171  TERESINHA        45  @dominiodoemail.com.br

In [16]:
nomes['email'] = nomes.nome.str.cat(nomes.dominio).str.lower()

In [17]:
nomes.sample(5)

       nome  id_aluno                 dominio                         email
114  ARTHUR       320  @dominiodoemail.com.br  arthur@dominiodoemail.com.br
57   DAIANE       303     @servicodoemail.com     daiane@servicodoemail.com
85   HELENA       221  @dominiodoemail.com.br  helena@dominiodoemail.com.br
183   IRACI         8  @dominiodoemail.com.br   iraci@dominiodoemail.com.br
189   DALVA       137  @dominiodoemail.com.br   dalva@dominiodoemail.com.br

# Criando a tabela de Cursos

In [18]:
!pip3 install html5lib
!pip3 install lxml

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: html5lib in /usr/local/lib/python3.8/dist-packages (1.0.1)
Requirement already satisfied: six>=1.9 in /usr/local/lib/python3.8/dist-packages (from html5lib) (1.15.0)
Requirement already satisfied: webencodings in /usr/local/lib/python3.8/dist-packages (from html5lib) (0.5.1)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: lxml in /usr/local/lib/python3.8/dist-packages (4.9.2)

In [19]:
import html5lib

In [20]:
url = 'http://tabela-cursos.herokuapp.com/index.html'
cursos = pd.read_html(url)
cursos

HTTPError: ignored

In [ ]:
type(cursos)

In [ ]:
cursos = cursos[0]

In [ ]:
type(cursos)

In [ ]:
cursos.head()

# Alterando o index de cursos

In [ ]:
cursos = cursos.rename(columns = {'Nome do curso': 'nome_do_curso'})

In [ ]:
cursos.head(2)

In [ ]:
cursos['id'] = cursos.index + 1

In [ ]:
cursos.head()

In [ ]:
cursos = cursos.set_index('id')

In [ ]:
cursos.head()

# Matriculando os alunos nos cursos

In [ ]:
nomes.sample(5)

In [ ]:
# astype = define o tipo
# exponential = randomiza de maneira decrescente
# ceil = randomiza pra cima, não iniciando por zero
nomes['matriculas'] = np.ceil(np.random.exponential(size = total_alunos)*1.5).astype(int)

In [ ]:
nomes.sample(5)

In [ ]:
nomes.matriculas.describe()

In [ ]:
import seaborn as sns

In [ ]:
sns.distplot(nomes.matriculas)

In [ ]:
nomes.matriculas.value_counts()

# Selecionando cursos

In [ ]:
nomes.sample(3)

In [ ]:
todas_matriculas = []
x = np.random.rand(20)
prob = x / sum(x)
prob

In [ ]:
#exemplo da funlção iterrows
for index, row in nomes[:2].iterrows():
  print(index, row)

In [ ]:
for index, row in nomes.iterrows():
  id = row.id_aluno
  matriculas = row.matriculas
  for i in range(matriculas):
    mat = [id, np.random.choice(cursos.index, p = prob)]
    todas_matriculas.append(mat)

matriculas = pd.DataFrame(todas_matriculas, columns = ['id_aluno', 'id_curso'])

In [ ]:
matriculas.head()

In [ ]:
matriculas_por_curso = matriculas.groupby('id_curso').count().join(cursos['nome_do_curso']).rename(columns = {'id_aluno' : 'quantidade_de_alunos' } )

In [ ]:
nomes.sample(3)

In [ ]:
cursos.head()

In [ ]:
matriculas.head()

In [ ]:
matriculas_por_curso.head()

# Saída em diferentes formatos

In [ ]:
matriculas_por_curso.head(3)

In [ ]:
matriculas_por_curso.to_csv('matriculas_por_curso.csv', index = False)

In [ ]:
pd.read_csv('matriculas_por_curso.csv')

In [ ]:
matriculas_json = matriculas_por_curso.to_json()

In [ ]:
matriculas_json

In [ ]:
matriculas_html = matriculas_por_curso.to_html()

In [ ]:
matriculas_html

# Criando o Banco SQL

In [ ]:
!pip install sqlalchemy

In [ ]:
from sqlalchemy import create_engine, MetaData, Table, inspect # adicionando o método inspect

In [ ]:

engine = create_engine('sqlite:///:memory:')
engine

In [ ]:
type(engine)

In [ ]:

matriculas_por_curso.to_sql('matriculas', engine)

inspector = inspect(engine) # criando um Inspector object

In [ ]:
print(inspector.get_table_names()) # Exibindo as tabelas com o inspectomes())

# Buscando do banco sql

In [ ]:
query = 'select * from matriculas where quantidade_de_alunos < 20'

In [ ]:
pd.read_sql(query, engine)

In [ ]:
pd.read_sql_table('matriculas', engine, columns=['nome_do_curso', 'quantidade_de_alunos'])

In [ ]:
muitas_matriculas = pd.read_sql_table('matriculas', engine, columns=['nome_do_curso', 'quantidade_de_alunos'])

In [ ]:
muitas_matriculas.query('quantidade_de_alunos > 40')

In [ ]:
muitas_matriculas = muitas_matriculas.query('quantidade_de_alunos > 70')
muitas_matriculas

# Escrevendo no banco

In [ ]:
muitas_matriculas.to_sql('muitas_matriculas', con=engine)

In [ ]:
print(engine.table_names())

# Nomes dos alunos e alunas da próxima turma

In [ ]:
matriculas_por_curso.head(20)

In [ ]:
matriculas

In [ ]:
id_curso = 16
proxima_turma = matriculas.query('id_curso == {}'.format(id_curso))
proxima_turma

In [ ]:
proxima_turma.set_index('id_aluno').join(nomes.set_index('id_aluno'))

In [ ]:
proxima_turma.set_index('id_aluno').join(nomes.set_index('id_aluno'))['nome']

In [ ]:
proxima_turma.set_index('id_aluno').join(nomes.set_index('id_aluno'))['nome'].to_frame()

In [ ]:
nome_curso = cursos.loc[id_curso]
nome_curso

In [ ]:
nome_curso = nome_curso.nome_do_curso
nome_curso

In [ ]:
proxima_turma = proxima_turma.set_index('id_aluno').join(nomes.set_index('id_aluno'))['nome'].to_frame()

In [ ]:
proxima_turma = proxima_turma.rename(columns = {'nome': 'Alunos do curso de {}'.format(nome_curso)})

In [ ]:
proxima_turma.sample(5)

# Excel

In [ ]:
proxima_turma.to_excel('proxima_turma.xlsx', index = False)

In [ ]:
pd.read_excel('proxima_turma.xlsx')