<a href="https://colab.research.google.com/github/M-I-N1985/colab_alura/blob/main/5_criando_estruturas_de_dados.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#from google.colab import drive
#drive.mount('/content/drive')

In [2]:
import pandas as pd

## Series

In [3]:
data = [1, 2, 3, 4, 5]

In [4]:
s = pd.Series(data)

In [5]:
s

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [6]:
index = ['Linha' + str(i) for i in range(5)]

In [7]:
index

['Linha0', 'Linha1', 'Linha2', 'Linha3', 'Linha4']

In [8]:
s = pd.Series(data = data, index = index)

In [9]:
s

Linha0    1
Linha1    2
Linha2    3
Linha3    4
Linha4    5
dtype: int64

In [10]:
data = {'Linha' + str(i): i + 1 for i in range(5)}

In [11]:
data

{'Linha0': 1, 'Linha1': 2, 'Linha2': 3, 'Linha3': 4, 'Linha4': 5}

In [12]:
s = pd.Series(data)

In [13]:
s

Linha0    1
Linha1    2
Linha2    3
Linha3    4
Linha4    5
dtype: int64

In [14]:
# é possível ainda fazer operações com Series quando os indices forem os mesmos
# obs: para indices diferentes aparecerá NaN
s1 = s + 2
s1

Linha0    3
Linha1    4
Linha2    5
Linha3    6
Linha4    7
dtype: int64

In [15]:
s2 = s + s1
s2

Linha0     4
Linha1     6
Linha2     8
Linha3    10
Linha4    12
dtype: int64

## DataFrame

In [16]:
data = [[0, 2, 3], [4, 5, 6], [7, 8, 9]]
data

[[0, 2, 3], [4, 5, 6], [7, 8, 9]]

In [17]:
df = pd.DataFrame(data)

In [18]:
df

   0  1  2
0  0  2  3
1  4  5  6
2  7  8  9

In [19]:
index = ['Linha' + str(i) for i in range(3)]

In [20]:
index

['Linha0', 'Linha1', 'Linha2']

In [21]:
columns = ['Coluna' + str(i) for i in range(3)]
columns

['Coluna0', 'Coluna1', 'Coluna2']

In [22]:
df = pd.DataFrame(data = data, index = index, columns = columns)
df

        Coluna0  Coluna1  Coluna2
Linha0        0        2        3
Linha1        4        5        6
Linha2        7        8        9

In [23]:
data = {'Coluna0': {'Linha0': 1, 'Linha1': 4, 'Linha2': 7},
        'Coluna1': {'Linha0': 2, 'Linha1': 5, 'Linha2': 8},
        'Coluna2': {'Linha0': 3, 'Linha1': 6, 'Linha2': 9}}

In [24]:
df1 = pd.DataFrame(data)

In [25]:
df1

        Coluna0  Coluna1  Coluna2
Linha0        1        2        3
Linha1        4        5        6
Linha2        7        8        9

In [26]:
data = [(0, 2, 3), (4, 5, 6), (7, 8, 9)]
data

[(0, 2, 3), (4, 5, 6), (7, 8, 9)]

In [27]:
df2 = pd.DataFrame(data = data, index = index, columns = columns)
df2

        Coluna0  Coluna1  Coluna2
Linha0        0        2        3
Linha1        4        5        6
Linha2        7        8        9

In [28]:
# operações com Datafrane

In [29]:
df[df > 0] = 'A'
df

       Coluna0 Coluna1 Coluna2
Linha0       0       A       A
Linha1       A       A       A
Linha2       A       A       A

In [30]:
df1[df1 > 0] = 'B'
df1

       Coluna0 Coluna1 Coluna2
Linha0       B       B       B
Linha1       B       B       B
Linha2       B       B       B

In [31]:
df2[df2 > 0] = 'C'
df2

       Coluna0 Coluna1 Coluna2
Linha0       0       C       C
Linha1       C       C       C
Linha2       C       C       C

In [32]:
df4 = pd.concat([df, df1, df2])
df4

       Coluna0 Coluna1 Coluna2
Linha0       0       A       A
Linha1       A       A       A
Linha2       A       A       A
Linha0       B       B       B
Linha1       B       B       B
Linha2       B       B       B
Linha0       0       C       C
Linha1       C       C       C
Linha2       C       C       C

In [33]:
df4 = pd.concat([df, df1, df2], axis = 1)
df4

       Coluna0 Coluna1 Coluna2 Coluna0 Coluna1 Coluna2 Coluna0 Coluna1 Coluna2
Linha0       0       A       A       B       B       B       0       C       C
Linha1       A       A       A       B       B       B       C       C       C
Linha2       A       A       A       B       B       B       C       C       C

### Exemplo A

In [34]:
df1 = pd.DataFrame({'A': {'X': 1}, 'B': {'X': 2}})
df1

   A  B
X  1  2

In [35]:
df2 = pd.DataFrame({'C': {'X': 3}, 'D': {'X': 4}})
df2

   C  D
X  3  4

In [36]:
pd.concat([df1, df2])

     A    B    C    D
X  1.0  2.0  NaN  NaN
X  NaN  NaN  3.0  4.0

### Exemplo B

In [37]:
dados = [('A', 'B'), ('C', 'D')]
dados

[('A', 'B'), ('C', 'D')]

In [38]:
df = pd.DataFrame(dados, columns = ['L1', 'L2'],  index = ['C1', 'C2'])
df

   L1 L2
C1  A  B
C2  C  D

### Exemplo C

In [39]:
dados = [[1, 2, 3], [4, 5, 6]]
dados

[[1, 2, 3], [4, 5, 6]]

In [40]:
index = 'X,Y'.split(',')
index

['X', 'Y']

In [41]:
columns = list('CBA')[::-1]
columns

['A', 'B', 'C']

In [42]:
df = pd.DataFrame(dados, index, columns)
df

   A  B  C
X  1  2  3
Y  4  5  6

### Exemplo D

In [43]:
dados = {'A': {'X': 1, 'Y': 3}, 'B': {'X': 2, 'Y': 4}}
dados

{'A': {'X': 1, 'Y': 3}, 'B': {'X': 2, 'Y': 4}}

In [44]:
df = pd.DataFrame(dados)
df

   A  B
X  1  2
Y  3  4